@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600&display=swap");

@layer base {
  body {
    @apply font-[Noto+Sans];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  transition: background 2s;
}

.content-div:hover {
  background-image: linear-gradient(
    245deg,
    rgba(227, 118, 231, 1),
    rgba(82, 60, 87, 1)
  ) !important;
}

.twitterIcon:hover {
  color: #26b2ff;
}

.youtubeIcon:hover {
  color: #ed4242;
}
