@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600&display=swap");

@layer base {
  body {
    @apply font-[Noto+Sans];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: auto;
}

.content-div:hover {
  background-image: linear-gradient(
    245deg,
    rgba(231, 118, 137, 0.8),
    rgba(87, 60, 67, 0.8)
  );
}
